# Pasta de compilação do Maven
**/target/
*.jar
*.war

# POMs de consumo gerados pelo Flatten Maven Plugin
**/.flattened-pom.xml

# Arquivos de configuração do IntelliJ IDEA
.idea/
*.iml
out/
gen/

# Arquivos do VS Code
.vscode/
.factorypath

# Sistema operacional
.DS_Store
Thumbs.db
